.card-deck {
  transition: border-color var(--t-color);
  padding: 1.2rem 0;
  display: flex;
  flex-wrap: wrap;
  //align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
}

.card-half {
  flex-grow: 1;
  flex-basis: 44%;
  max-width: 44%;
}

.card-full {
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%;
}

.product-card {
  margin-top: 1rem;
  border: var(--c-text-accent) solid 1px;
  padding: 1rem;
  font-size: small;
}

.product-card h3 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.product-card h4 {
  padding-top: 0;
  margin-top: 0;
  color: var(--c-text-lighter);
  font-size: small;
}